.menu {
  height: 50px;
}

.page-content {

  margin-top: 5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.notfound-content {
  margin: auto;
  margin-top: 10em;
}

.image-preview {
  max-height: 450px;
}
